@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: "Poppins", sans-serif;
}

.ri-menu-line {
    display: none;
}
/* .cursor {
  height: 1rem;
  width: 1rem;
  background-color: #7563bc;
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  transition: all 0.15s linear;
  mix-blend-mode: color-burn;
} */

button {
    font-size: 2.7vmin;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 1.5vmin;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logo img {
    height: 7rem;
    width: 7rem;
}

.nav {
    list-style-type: none;
    display: flex;
    gap: 5vmin;
}

.nav a {
    color: #777;
    text-decoration: none;
    font-size: 2.5vmin;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav a:hover {
    color: #7563bc;
}

.nav a::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: #7563bc;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
}

.nav a:hover::after {
    width: 100%;
}

footer {
    color: #333;
    background-color: #f0f0f0;
    border-top: 2px solid #a0a09f;
    margin-top: 10vmin;
    padding: 5vmin 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.75rem;
    flex-direction: column;
    gap: 5vmin;
}

footer div {
    font-size: 2.5vmin;
}

.rights a {
    color: #000;
}

button {
    padding: 1.75vmin 5vmin;
    font-size: 1rem;
    text-transform: uppercase;
}

input,
textarea {
    font-family: "Poppins", sans-serif;
    padding: 1vmin;
}

.hamburger-menu {
    display: none;
}

.call-us {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    margin: 5vmin 10vmin;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(64, 189, 64);
    border-radius: 50%;
    padding: 10px;
    font-size: 2.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0.5px #acacac;
    transition: all 0.25s ease-in-out;
}

.call-us:hover {
    background-color: rgb(97, 202, 97);
}

@media screen and (max-width: 1024px) {
    .quote {
        display: flex;
        gap: 0.75rem;
        flex-direction: column;
    }
    .home-testimonial .card {
        text-align: center;
        padding: 5vmin;
        background-color: #edf0f0;
        height: 100%;
    }

    .contact .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        gap: 3vmin;
    }
    .contact .container {
        padding: 10vmin;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 15vmin;
    }
    .contact .container #first {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        font-size: 1.25rem;
    }

    .contact .container #second {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }

    .contact #second h2 {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .home-testimonial {
        flex-wrap: wrap;
    }
    .details {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}

@media screen and (max-width: 430px) {
    .ri-menu-line {
        display: block;
        font-size: 1.5rem;
    }

    .navbar {
        flex-wrap: wrap;
        gap: 1vmin;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        padding: 0 2rem;
    }

    .nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .navbar a {
        font-size: 1rem;
    }

    .hamburger-menu {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid #333;
    }

    .hamburger-menu a {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: #777;
        font-size: 1.25rem;
    }

    .home-services .container {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .home-services .container #first {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .home-services .container #second {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .home-services .container #third {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .home-services .container #four {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .home-about .container {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .home-about .container #first {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .home-about .container #second {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .home-about .container #third {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .home-services .container #four {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .home-testimonial {
        flex-wrap: wrap;
    }
    .home-talk {
        padding: 5vmin 10vmin;
        text-align: center;
    }
    .home-talk .details {
        flex-wrap: wrap;
        gap: 5vmin;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 2vmin;
    }
    .service-summary .container {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .service-summary .container #first {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .service-summary .container #second {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .service-summary .container #third {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .service-summary .container #four {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .cleaning {
        text-align: center;
    }
    .cleaning .container #first button {
        align-self: center;
    }
    .cleaning .container {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 5vmin 5vmin;
    }
    .cleaning .container #first {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .cleaning .container #second {
        grid-row: 2/3;
        grid-column: 1/2;
        width: 100%;
    }
    .others {
        padding: 10vmin;
    }
    .others .others-title {
        text-align: center;
        gap: 0.5rem;
    }
    .others .lists {
        text-align: center;
        padding: 0 10vmin;
        flex-wrap: wrap;
        gap: 0vmin;
        line-height: 1.75rem;
    }
    .others .lists ul {
        list-style-type: none;
    }
    .carpet .container {
        margin: 0;
        flex-wrap: wrap;
    }
    .carpet .container #first img {
        width: 100%;
    }
    .carpet .container #second img {
        width: 100%;
    }
    .super {
        padding: 15vmin 10vmin;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .super .left {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
    }

    .super .left button {
        align-self: center;
    }
    .super .right {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }

    .super .right ul {
        list-style-type: none;
    }

    .contact .container {
        padding: 10vmin;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 15vmin;
    }
    .contact .container #first {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        font-size: 1.25rem;
    }

    .contact .container #second {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }

    .contact #second h2 {
        align-self: center;
        font-size: 2rem;
    }

    form button {
        font-size: 1rem;
        width: 100%;
    }
    .details .address span {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .home-talk h2 {
        font-size: 2rem;
    }
    .details button {
        font-size: 1rem;
    }
    .home-services button {
        font-size: 1rem;
    }
    .service-summary .container .elem > div {
        flex-direction: column;
    }
    .carpet .container #second {
        width: 100%;
        height: 50vh;
    }

    .carpet .container #first {
        width: 100%;
        height: 50vh;
    }
    input,
    textarea {
        padding: 0.75rem;
        font-size: 1rem;
    }
    footer div {
        font-size: 1em;
    }

    .service-summary .container .elem > div img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 325px) {
    .contact .container {
        max-width: 100%;
    }

    form {
        padding: 0 10%;
        max-width: 100%;
    }
    footer {
        padding: 5vmin;
    }
    .contact .container #first,
    #second {
        font-size: 1rem;
    }

    .contact #second h2 {
        font-size: 1.75rem;
    }
}
