/* .home-image {
    height: calc(100vh - 70px);
} */

/* #carouselExampleCaptions {
    height: calc(100vh - 70px);
} */

/* .carousel-inner {
    height: 100%;
    width: 100%;
} */

.carousel-item img {
    height: calc(100vh - 70px);
    object-fit: cover;
}

/* .home-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 50px 50px;
} */

.d-none {
    display: block !important;
}

.home-services h1 {
    text-align: center;
    padding-top: 15vmin;
}

.home-services .container {
    padding: 5vmin 10vmin;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10vmin;
    text-align: center;
}

.home-services .container #first {
    grid-column: 1/2;
    grid-row: 1/2;
}
.home-services .container #second {
    grid-column: 2/3;
    grid-row: 1/2;
}
.home-services .container #third {
    grid-column: 1/2;
    grid-row: 2/3;
}
.home-services .container #four {
    grid-column: 2/3;
    grid-row: 2/3;
}

.home-services .container .elem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
    flex-direction: column;
}

.home-services .container .image {
    height: 20vmin;
    width: 20vmin;
}

.home-about {
    margin: 10vmin 0;
    padding: 5vmin 0 10vmin 0;
    background-color: #e4e1ff;
}

.home-about .container {
    padding: 5vmin 10vmin;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10vmin;
}

.home-about .container #first {
    grid-column: 1/2;
    grid-row: 1/2;
}
.home-about .container #second {
    grid-column: 2/3;
    grid-row: 1/2;
}
.home-about .container #third {
    grid-column: 1/2;
    grid-row: 2/3;
}
.home-services .container #four {
    grid-column: 2/3;
    grid-row: 2/3;
}

.home-about h1 {
    text-align: center;
    padding-top: 5vmin;
}

.home-about .container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2vmin;
}

.home-about .image {
    height: 15vmin;
    width: 15vmin;
}

.home-about .container img {
    height: 100%;
    width: 100%;
}

.home-services button {
    padding: 1.75vmin 5vmin;
    background-color: transparent;
    border: 1px solid #777;
    color: #605e5e;
}

.home-services button:hover {
    border: 1px solid #644ec0;
    background-color: #644ec0;
    color: #fff;
}

.home-services .container img {
    height: 100%;
    width: 100%;
}

.home-featured-image {
    height: 75vmin;
    margin: 15vmin 0;
}

.home-featured-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card h2 {
    color: #605e5e;
}

.home-testimonial {
    margin-top: 7vmin;
    display: flex;
    gap: 2vmin;
    padding: 0 3vmin;
}

.home-testimonial .card {
    text-align: center;
    border: 1px solid #cbcbcb;
    padding: 10vmin;
    background-color: #edf0f0;
    border-radius: 2vmin;
}

.home-testimonial .card h2 {
    margin-bottom: 5vmin;
}

.home-testimonial .card p {
    line-height: 2rem;
}

.home-talk {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vmin 0vmin;
}

.home-talk .logo {
    display: flex;
    justify-content: center;
    padding-bottom: 4vmin;
}

.home-talk h2 {
    font-size: 6vmin;
}

.details {
    padding-top: 5vmin;
    display: flex;
    align-items: last baseline;
    gap: 25vmin;
}

.address span {
    display: block;
    line-height: 5vmin;
    font-size: 3vmin;
}

.details button {
    background-color: #f16876;
    border: none;
    color: #fff;
}

.details button:hover {
    background-color: #f8b2b9;
    color: #000;
}

footer {
    color: #333;
    font-size: 2.5vmin;
    background-color: #f0f0f0;
    border-top: 2px solid #a0a09f;
    padding: 5vmin 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rights a {
    color: #000;
}

.quote .call {
    background-color: rgb(54, 189, 54);
}

.quote .call:hover {
    background-color: lightgreen;
}
