.service-image {
    height: calc(100vh - 350px);
    background-image: url("../../assets/images/img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 7vmin;
    position: relative;
}

.service-image span {
    z-index: 1;
}

.service-image::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(124, 120, 114, 0.4);
    position: absolute;
}

.service-summary h1 {
    padding-top: 5vmin;
    text-align: center;
}

.service-summary .container {
    padding: 5vmin 10vmin;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 7vmin;
}

.service-summary .container #first {
    grid-column: 1/2;
    grid-row: 1/2;
}
.service-summary .container #second {
    grid-column: 2/3;
    grid-row: 1/2;
}
.service-summary .container #third {
    grid-column: 1/2;
    grid-row: 2/3;
}
.service-summary .container #four {
    grid-column: 2/3;
    grid-row: 2/3;
}

.service-summary .container .elem > div {
    display: flex;
    align-items: center;
    padding-bottom: 5vmin;
    gap: 2vmin;
}

.service-summary .container .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cleaning {
    padding-top: 5vmin;
}

.cleaning .container {
    padding: 5vmin 10vmin;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(300px, auto);
    justify-items: center;
    align-items: center;
    gap: 7vmin;
}

.cleaning #first {
    grid-column: 1/2;
    grid-row: 1/2;
}
.cleaning #second {
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../../assets/images/Magnolia.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.elem .title {
    font-size: 1.25rem;
    color: #313131;
    font-weight: 600;
}

.cleaning > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cleaning #first {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}

.cleaning #first button {
    align-self: flex-end;
}

.cleaning #first button {
    padding: 1.75vmin 5vmin;
    background-color: transparent;
    border: 1px solid #777;
    color: #605e5e;
}

.cleaning #first button:hover {
    border: 1px solid #644ec0;
    background-color: #644ec0;
    color: #fff;
}

.lists {
    display: flex;
    justify-content: center;
    gap: 10vmin;
}

.others {
    padding: 10vmin 0;
}

.detail {
    text-align: center;
    padding: 2rem 4rem;
}

.others-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5vmin;
}

.carpet h1 {
    padding: 3vmin 0;
    text-align: center;
}

.window h1 {
    padding-top: 10vmin;
    text-align: center;
}

.carpet .container {
    padding: 0 10vmin;
    min-height: 50vmin;
    display: flex;
    justify-content: center;
    gap: 3vmin;
}

.carpet .container #second {
    width: 50%;
    height: 50vh;
}

.carpet .container #first {
    width: 50%;
    height: 50vh;
}

.carpet .container #second img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carpet .container #first img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.window h1 {
    text-align: center;
    padding-bottom: 5vmin;
}

.window p {
    font-size: 2.3vmin;
}

.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vmin;
}
.window .container img {
    padding-top: 5vmin;
}

.window .container div {
    width: 80vmin;
}

.super {
    padding: 5vmin 15vmin;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10vmin;
}

.super .left {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    gap: 3vmin;
    flex-direction: column;
}

.super .left button {
    align-self: flex-start;
}

.super .left button {
    padding: 1.75vmin 5vmin;
    background-color: transparent;
    border: 1px solid #777;
    color: #605e5e;
}

.super .left button:hover {
    border: 1px solid #644ec0;
    background-color: #644ec0;
    color: #fff;
}

.super .right {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    gap: 2vmin;
    flex-direction: column;
}

.carpet .container div {
    overflow: hidden;
    /* border-radius: 1.5vmin; */
}

.carpet .container img {
    transition: all 0.3s ease-in-out;
}

.carpet .container img:hover {
    transform: scale(1.15);
}
